.container {
  max-width: 1024px;
  margin: 0 auto;
}
.row::after {
  content: '';
  clear: both;
  display: table;
}
header {
  background-color: dimgray;
  color: #ffffff;
  padding: 15px;
  top: 0;
}
section {
  width: 70%;
  float: left;
}
nav {
  width: 30%;
  float: left;
  background-color: #f1f1f1;
  margin: 15px 0px;
}
footer {
  padding: 5px;
  background-color: gray;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  header h1 {
    text-align: center;
  }
  .container.row selection {
    width: 100%;
  }
  .container.row footer {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
